@import url(_global.css);
:root {
    --rosa-techbros: #FF009D;
    --rosa-secundario: #fcbdc7;
    --cor-fundo-primaria: #0a0a0a;
    --cor-fundo-secundaria: #000000e1;
    --fonte-padrao: clamp(15px, 1vw + 8px, 20px);
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 130px;
}

body {
    background-color: black;
}

header {
    padding: 0 11vw;
    width: 100svw;
}

.header_linha-1{
    justify-content: space-between;
    margin: 0;
    max-width: fit-content;
    min-width: 76svw;
}

.info_nav {
    padding: 0;
}

/* Menu de navegação. */
nav {
    display: flex;
    align-items: center;
    max-width: fit-content;
    min-width: 76svw;
    padding-right: 100svw;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-fundo-secundaria);
}

nav > h3 > a, nav > a {
    font-size: 20px;
    font-weight: 700;
    color: #FF009D !important;
    transition: ease-in-out .5s;
    cursor: pointer;
}

nav > h3:hover, nav > a:hover {
    background-color: var(--rosa-techbros);
    color: var(--rosa-secundario) !important;
    padding: 0 8%;
    text-align: center;
}

.dropdown {
    display: none;
}
/* Fim menu de navegação. */

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: fit-content;
    min-width: 100svw;
    padding-top: 60px;
    margin: 0 11svw;
    background-color: var(--cor-fundo-primaria);
}

#menu_topicos {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: var(--rosa-techbros);
    gap: 20px;
    width: 15%;
    overflow-y: auto;
    justify-content: space-between;
    padding-top: 120px;
}

#menu_topicos > h1 {
    cursor: pointer;
}

.topicos {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topicos > li > a {
    font-size: 20px;
    font-weight: 700;
}

.fechar_menu {
    align-self: center;
}

#fechar_topicos_btn {
    display: block;
    position: fixed;
    z-index: 2;
    color: white;
    font-size: 45px;
    top: 50%;
    left: 23%;
    cursor: pointer;
}

.conteudo {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo);
    gap: 70px;
    width: 85%;
    padding-top: 110px;
    padding-left: 110px;
    text-align: justify;
}

#videos, #regras {
    display: flex;
    flex-direction: column;
    width: 79%;
    gap: 50px;
}

.texto {
    width: 88%;
}

.video {
    width: 55svw;
    height: 50svh;
}

footer {
    margin: 0 !important;
}

@media only screen and (max-width: 768px) {
    #fechar_topicos_btn {
        left: 12%;
    }

    nav > a{
        display: none;
    }

    nav {
        justify-content: flex-end;
    }

    #menu_topicos, #fechar_topicos_btn {
        display: none;
    }

    main {
        margin: 0;
        justify-content: center;
    }

    .conteudo {
        
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 80%;
    }

    #videos, #regras {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }

    .dropdown {
        display: block;
    }

    .dropdown-content:nth-child(1n) {
        margin-top: 10px;
    }

    .video {
        width: 60svw;
        height: 30svh;
    }

}

@media only screen and (max-width: 480px) {
    #fechar_topicos_btn {
        display: none;
    }

    #menu_topicos {
        display: none;
    }
    .conteudo {
        width: 100svw;
        padding-left: 10px;
    }

    .video {
        width: 90svw;
        height: 50svh;
    }
}